<div ng-if="!myInfoCtrl.userDataIsEmpty()">
    <span>Name:         {{ myInfoCtrl.userInfo.name }}</span><br/>
    <span>Last Name:    {{ myInfoCtrl.userInfo.lastname }}</span><br/>
    <span>Email:        {{ myInfoCtrl.userInfo.email }}</span><br/>
    <span>Phone:         {{ myInfoCtrl.userInfo.phone }}</span><br/>

    <span>Favorite Dish:</span>

    <menu-item menu-item="myInfoCtrl.userInfo.favDishDetails"></menu-item>
</div>

<div ng-if="myInfoCtrl.userDataIsEmpty()">
    <p>
        Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a>
    </p>
</div>

{{ myInfoCtrl.userDataIsEmpty() }}