.my-warning {
    margin-top: 100px;
}

.directive-container {
    float: left;
}

.flex { 
    display: flex;
}

.ol-flex {
    flex-direction: column;
}

.item {
    justify-content: space-between;
    border: 1px solid gray;
    padding: 5px;
    margin-bottom: 5px;
}

.item-desc {
    width: 600px;
}

.item-button {
    align-self: center;
    margin-left: 10px;
}